## Function

In [1]:
## If conditions  and for loops

lst=[1,2,3,4,5,6,7,8,9,10,12,13,14,15]

even_sum=0
odd_sum=0
for i in lst:
    if i%2==0:
        even_sum=even_sum+i
    else:
        odd_sum=odd_sum+i
print(even_sum,odd_sum)

56 53

In [2]:
def temp(a, age=23):
    print('My name is {} and i am {} years old'.format(a,age))

In [3]:
temp('sa')

My name is sa and i am 23 years old

In [19]:
def temp1(*args, **kwargs):  # so * will present position argument and ** will present the keyword argument
    print(args)
    print(kwargs)

In [20]:
temp1(24,'fs',age=29,city='Madrid') # Keyword argument are the ones in which we already specific value to argument

(24, 'fs')
{'age': 29, 'city': 'Madrid'}

In [32]:
def temp2(*dep, **kde):  # so * will present position argument and ** will present the keyword argument
    print(dep)
    print(*kde)  # we can give any name just that we need to give * and **

In [33]:
temp2(24,'sfasfa',age=22,city='Madrid')

(24, 'sfasfa')
age city

# Lambda Function

This is faster than the normal function and has no name. This is useful if we have single line to return

In [35]:
def add(a,b):
    return a+b

In [36]:
add(5,5)

10

In [37]:
add=lambda a,b:a*b

In [38]:
add(2,4)

8

In [39]:
even= lambda num: num%2==0

In [40]:
even(4)

True

In [41]:
add3num =lambda a,b,c: a+b+c

In [42]:
add3num(4,5,2)

11

# Map Function

In [44]:
def square(num):
    if num%2==0:
        return '{} is even'.format(num),num*num
    else:
        return '{} is odd'.format(num),num

In [46]:
lst=[2,4,1,3,9,10,59,17]

In [48]:
list(map(square,lst)) # list will convert the map output into list

[('2 is even', 4),
 ('4 is even', 16),
 ('1 is odd', 1),
 ('3 is odd', 3),
 ('9 is odd', 9),
 ('10 is even', 100),
 ('59 is odd', 59),
 ('17 is odd', 17)]

# Filter Function

In [72]:
def multiple(num):
    if num%2==0:
        return True

In [73]:
lst=[1,2,3,4,5,6,7,8,0]

In [74]:
list(filter(multiple,lst)) #filter elements which odds condiction true

[2, 4, 6, 8, 0]

# List comprehension

It is a concise way of creating a list.

In [75]:
# Syntax [expression followed by for caluse, then zero or more for or if caluses]


lst=[2,3,5,6,78,4]

In [76]:
[i*i for i in lst if i%2==0]

[4, 36, 6084, 16]

In [81]:
lst12=[i*i for i in lst]

In [82]:
lst12

[4, 9, 25, 36, 6084, 16]

# Iterables vs Iterators

In [83]:
Lst=[2.3,5,2,4,7]

In [84]:
for i in Lst: #this is iterable 
    print (i)

2.3
5
2
4
7

In [93]:
 lyt=iter(Lst) #this will convert list into iterator

In [94]:
# we can use next() to iterate at a time (single element ) of iterator

next(lyt)

2.3

In [95]:
next(lyt)

5

# OOPS

In [140]:
class student:
    def _init_(self,name,age,marks):
        self.name=name
        self.age=age
        self.marks=marks
        
    def addsub(self,sub):
        self.subject=sub
        return 'This is {name}  whose age is {age} and he scored {marks} in {subject} '.format(name=self.name, age=self.age, 
                                                                                                    marks=self.marks, subject=self.subject)

In [143]:
std2= student()

In [144]:
std2.name='vatsal'
std2.age=23
std2.marks=95

In [146]:
std2.addsub

'This is vatsal  whose age is 23 and he scored 95 '