## Function

In [1]:
## If conditions  and for loops

lst=[1,2,3,4,5,6,7,8,9,10,12,13,14,15]

even_sum=0
odd_sum=0
for i in lst:
    if i%2==0:
        even_sum=even_sum+i
    else:
        odd_sum=odd_sum+i
print(even_sum,odd_sum)

56 53

In [2]:
def temp(a, age=23):
    print('My name is {} and i am {} years old'.format(a,age))

In [3]:
temp('sa')

My name is sa and i am 23 years old

In [19]:
def temp1(*args, **kwargs):  # so * will present position argument and ** will present the keyword argument
    print(args)
    print(kwargs)

In [20]:
temp1(24,'fs',age=29,city='Madrid') # Keyword argument are the ones in which we already specific value to argument

(24, 'fs')
{'age': 29, 'city': 'Madrid'}

In [32]:
def temp2(*dep, **kde):  # so * will present position argument and ** will present the keyword argument
    print(dep)
    print(*kde)  # we can give any name just that we need to give * and **

In [33]:
temp2(24,'sfasfa',age=22,city='Madrid')

(24, 'sfasfa')
age city

# Lambda Function

This is faster than the normal function and has no name. This is useful if we have single line to return

In [35]:
def add(a,b):
    return a+b

In [36]:
add(5,5)

10

In [37]:
add=lambda a,b:a*b

In [38]:
add(2,4)

8

In [39]:
even= lambda num: num%2==0

In [40]:
even(4)

True

In [41]:
add3num =lambda a,b,c: a+b+c

In [42]:
add3num(4,5,2)

11

# Map Function

In [44]:
def square(num):
    if num%2==0:
        return '{} is even'.format(num),num*num
    else:
        return '{} is odd'.format(num),num

In [46]:
lst=[2,4,1,3,9,10,59,17]

In [48]:
list(map(square,lst)) # list will convert the map output into list

[('2 is even', 4),
 ('4 is even', 16),
 ('1 is odd', 1),
 ('3 is odd', 3),
 ('9 is odd', 9),
 ('10 is even', 100),
 ('59 is odd', 59),
 ('17 is odd', 17)]

# Filter Function

In [72]:
def multiple(num):
    if num%2==0:
        return True

In [73]:
lst=[1,2,3,4,5,6,7,8,0]

In [74]:
list(filter(multiple,lst)) #filter elements which odds condiction true

[2, 4, 6, 8, 0]

# List comprehension

It is a concise way of creating a list.

In [75]:
# Syntax [expression followed by for caluse, then zero or more for or if caluses]


lst=[2,3,5,6,78,4]

In [76]:
[i*i for i in lst if i%2==0]

[4, 36, 6084, 16]

In [81]:
lst12=[i*i for i in lst]

In [82]:
lst12

[4, 9, 25, 36, 6084, 16]

# Iterables vs Iterators

In [83]:
Lst=[2.3,5,2,4,7]

In [84]:
for i in Lst: #this is iterable 
    print (i)

2.3
5
2
4
7

In [93]:
 lyt=iter(Lst) #this will convert list into iterator

In [94]:
# we can use next() to iterate at a time (single element ) of iterator

next(lyt)

2.3

In [95]:
next(lyt)

5

# OOPS

In [364]:
class student:
    def __init__(self,name,age,marks):
        self.name=name
        self.age=age
        self.marks=marks
        
    def addsub(self,sub):
        self.subject=sub
        return 'This is {name}  whose age is {age} and he scored {marks} in {subject} '.format(name=self.name, age=self.age, 
                                                                                                    marks=self.marks, subject=self.subject)

In [367]:
std2= student('vatsal',23,95)

In [368]:
std2.name='vatsal'
std2.age=23
std2.marks=95

In [369]:
std2.addsub('Maths')

'This is vatsal  whose age is 23 and he scored 95 in Maths '

# Python OOPS- Public, Protected And Private

In [ ]:
# In public , we can access the variables of the class anywhere

In [370]:
class student:
    def __init__(self,name,age,marks):
        self.name=name
        self.age=age
        self.marks=marks

In [371]:
sd1=student('vd',34,45)

In [372]:
sd1.name

'vd'

In [387]:
# In protected the attributes/variable of the calss can only be access by child class and not anywhere else
# it can be indicated by single (_) eg: _marks

# Overriding of variable/ changing value can only be done by object of subclass/child class

In [411]:
### All the class variables are protected
class Car():
    def __init__(self,windows,doors,enginetype):
        self._windows=windows
        self._doors=doors
        self._enginetype=enginetype

In [412]:
class Truck(Car):
    def __init__(self,windows,doors,enginetype,horsepower):
        super().__init__(windows,doors,enginetype)
        self.horsepowwer=horsepower

In [413]:
truck=Truck(4,4,"Diesel",4000)
dir(truck)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_doors',
 '_enginetype',
 '_windows',
 'horsepowwer']

In [418]:
truck._windows

4

In [414]:
ca1=Car(23,3,4)

In [415]:
ca1._windows=2

In [419]:
ca1._windows

2

In [382]:
# In private we cannot access the variable outside the class

# its is denoted by double(__) eg : __cycle

In [383]:
### private
class Car():
    def __init__(self,windows,doors,enginetype):
        self.__windows=windows
        self.__doors=doors
        self.__enginetype=enginetype

In [384]:
audi=Car(4,4,"Diesel")

In [385]:
dir(audi)

['_Car__doors',
 '_Car__enginetype',
 '_Car__windows',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__']

In [386]:
# In all the cases we can other write the value but its important to understand which variables are 
#are private, protected and public

# Exception Handling

In [1]:
try:
    #in this we write code block where exception can occur
    a=b
except Exception as ex: # this will take all the exception if any occur in try
    print(ex)

name 'b' is not defined

In [3]:
# if you want to provide particular message for some particular type of error you can do it by

try:
    a=b
except NameError:
    print('The value is not initalise, please check ') # this will give message for specific type of error
except Exception as ex:
    print(ex)

The value is not initalise, please check

In [4]:
a=b

NameError: name 'b' is not defined

In [5]:
### try else
try:
    ##code block where exception can occur
    a=int(input("Enter the number 1 "))
    b=int(input("Enter the number 2 "))
    c=a/b 
    d=a*b
    e=a+b
    
except NameError:
    print("The user have not defined the variable")
except ZeroDivisionError:
    print("Please provide number greater than 0")
except TypeError:
    print("Try to make the datatype similar")
except Exception as ex:
    print(ex)
else:  
    print(c)
    print(d)
    print(e)

Enter the number 1 24
Enter the number 2 12
2.0
288
36

In [6]:
    a=int(input("Enter the number 1 "))
    b=int(input("Enter the number 2 "))
    c=a/b 
    d=a*b
    e=a+b

Enter the number 1 12
Enter the number 2 0

ZeroDivisionError: division by zero

In [7]:

### try else finaaly
try:
    ##code block where exception can occur
    a=int(input("Enter the number 1 "))
    b=int(input("Enter the number 2 "))
    c=a/b
    
except NameError:
    print("The user have not defined the variable")
except ZeroDivisionError:
    print("Please provide number greater than 0")
except TypeError:
    print("Try to make the datatype similar")
except Exception as ex:
    print(ex)
else:                           #else will only excute if there are no exception caught
    print(c)
finally:                      #finally will execute even though if there are exception or not
    print("The execution is done")

Enter the number 1 12
Enter the number 2 0
Please provide number greater than 0
The execution is done

# Custom Exception

In [15]:
# To make custom excption you need to inherit the Exception class 

class Error(Exception):
    pass

class checkyear(Error):
    pass

class genericlass(Error):
    pass

In [19]:
year=int(input("Enter the year of Birth "))
age=2021-year


try:
    if age<=30:
        print('Valid Age to apply')
    else:
        raise checkyear
except checkyear:
    print('Not a valid age')

Enter the year of Birth 1980
Not a valid age

# Inheritance

In [50]:
class student:
    def __init__(self,name,age,marks):
        self.name=name
        self.age=age
        self.marks=marks
        
    def classroom(self):
        print('this is classroom')

In [64]:
std1=student("sba",2,4)

In [65]:
std1.classroom()

this is classroom

In [66]:
class exam(student):
    
    def __init__(self,name,age,marks,room):
        super().__init__(name,age,marks)
        self.room=room
        
    def selfexam(exam):
        print('This is exam')

In [67]:
ex1=exam("sad",4,5,312)

In [68]:
ex1.classroom()

this is classroom

In [70]:
ex1.selfexam()

This is exam

In [96]:
class A:
    def method1(self):
        print("A class method is called")

In [97]:
class B(A):
    def method1(self):
        print("B class method is called")
    def method2(self):
        print("B class method2 is called")

In [98]:
class C(A):
    def method1(self):
        print("C class method1 is called")
    def method3(self):
        print("C class method2 is called")

In [99]:
class D(B,C):
    def method1(self):
        print("D class method is called")
        C.method1(self)
        B.method1(self)
        A.method1(self)

In [100]:
d=D() # here d will be the object for class A,B,C,D

In [101]:
d.method3()

C class method2 is called

In [102]:
d.method1()

D class method is called
C class method1 is called
B class method is called
A class method is called

In [103]:
B.method1(d)

B class method is called

# Magic Method

In [104]:
class student:
    def __init__(self,name,age,marks):
        self.name=name
        self.age=age
        self.marks=marks

In [105]:
std1=student('vat',23,40)

In [106]:
dir(std1)  # the object of class (Std1) has all this method available, this method can be overwritten as wanted and can be called

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'age',
 'marks',
 'name']

In [107]:
class student:
    def __init__(self,name,age,marks):
        self.name=name
        self.age=age
        self.marks=marks
    def __sizeof__(self):
        print('this display size')

In [108]:
std1=student('vat',23,40)

In [109]:
print(std1)

<__main__.student object at 0x000001EC15DC2F08>

In [110]:
std1.__sizeof__()

this display size

# Python Assert
Python provides the assert statement to check if a given logical expression is true or false. Program execution proceeds only if the expression is true and raises the AssertionError when it is false. The following code shows the usage of the assert statement.

In [113]:
a=10

a>10

False

In [116]:
a=10

assert a>=10  # this will use for exception handing

In [118]:
try:
    num=int(input("Enter the even number"))
    assert num%2==0
    print("The number is even")
except AssertionError:
    print("Please enter even number")

Enter the even number11
Please enter even number

# Python Generators Vs Iterators

In [122]:
#this is iterable
lst=[1,2,3,4,7]

In [121]:
for i in lst:
    print(i)

1
2
3
4
7

In [127]:
#iterator

iterator= iter(lst)

In [128]:
iterator

In [125]:
next(iterator) # to iterate through iterator we use next()

1

In [130]:
for i in iterator:
    print(i)

2
3
4
7

In [151]:
## Generator


def square(n):
    for i in range(n):
        yield i**2

In [152]:
a=square(4)

In [153]:
next(a)

0

In [154]:
a

In [155]:
for i in a:
    print(i)

1
4
9

# Difference
1. To create iterator we use iter() and to generator we use function along with yield keyword
2. Generator uses the yield keyword. It saves the local variable
3. Generator in python helps us top write fast and compact code
4. Python iterator is much more memory efficient

In [156]:
import types,collections

In [158]:
issubclass(types.GeneratorType,collections.Iterator)

True

# Python Decorators

In [159]:
# Function copy
# Closure

In [185]:
# Function copy

def welcome():
    return ("Hello Everyone")

In [186]:
we1=welcome()  # this is call function copy where function value is store in a variable

In [187]:
we1

'Hello Everyone'

In [188]:
del welcome

In [189]:
we1

'Hello Everyone'

In [205]:
# Closure

def main_welcome(a):
    msg='Hello'
    
    def sub_main_welcome(a):
        print("Everyone")
        print(msg)
        print(a)  # this will provide priority to its own parameter rather than same parameter from main function
    return sub_main_welcome(2)

In [206]:
main_welcome('ok')

Everyone
Hello
2

In [226]:

def main_welcome(call):
    msg='Hello'
    
    def sub_main_welcome():
        print("Everyone")
        print(msg)
        print(call([1,2,3,4,5]))  # this will provide priority to its own parameter rather than same parameter from main function
    return sub_main_welcome()

In [227]:
a=main_welcome(len)

Everyone
Hello
5

In [222]:



def main_welcome(func):
    msg='Hello'
    
    def sub_main_welcome():
        print("Everyone")
        print(msg)
        func()
        print('This is end')
    return sub_main_welcome()

In [223]:
def channel_at():
    print('Call channel')

In [224]:
a=main_welcome(channel_at)  # this is call decorator where we can pass function as a parameter and can call function inside function

Everyone
Hello
Call channel
This is end

In [225]:
@main_welcome              ## this is way to define/ call decorator where in this change_channel will be pass as a parameter 
def change_chnnel():
    print('THis is another channel')

Everyone
Hello
THis is another channel
This is end

# IS and ==

In [228]:
lst= [1,2,3,5]
lst2=[1,2,3,5]

In [229]:
lst == lst2  # here lst and lst2 are store at different memory location so they just compare the elements inside the list

True

In [230]:
lst is lst2 # for this is checking the reference value , here as they have different memory location (checks memory location)

False

In [231]:
lst2=lst

In [232]:
lst

[1, 2, 3, 5]

In [233]:
lst2

[1, 2, 3, 5]

In [234]:
 lst is lst2  #now its true as they are store at same memory / share same location

True

# Shallow Copy and Deep copy

In [235]:
lst1=[2,3,4,5]

In [238]:
lst1= lst2

In [239]:
lst1

[2, 3, 4, 5]

In [240]:
lst2

[2, 3, 4, 5]

In [241]:
lst1[2]=100

In [244]:
lst1, lst2            #IN (=) list (lst2) is refereing to the same memory location as lst1 , so any changes made will be refelected in both the memory location

([2, 3, 100, 5], [2, 3, 100, 5])

In [248]:
# Shallow copy

lst1= [2,4,6,8]

lst2=lst1.copy()    # this will create a copy of lst1  and save in different memory location
                    # so both are indepedent not refering to same memory location

In [249]:
lst2, lst1

([2, 4, 6, 8], [2, 4, 6, 8])

In [250]:
lst2[3]=100

In [251]:
lst2,lst1

([2, 4, 6, 100], [2, 4, 6, 8])

In [252]:
## Shallow copy in nested list

lst1=[[1,2,3,5],[3,24,7,2],[2,4,5]]

In [254]:
lst2=lst1.copy()

In [255]:
lst2,lst1

([[1, 2, 3, 5], [3, 24, 7, 2], [2, 4, 5]],
 [[1, 2, 3, 5], [3, 24, 7, 2], [2, 4, 5]])

In [261]:
lst2[1][2]=100

In [262]:
lst2

[[1, 2, 3, 5], [3, 24, 100, 2], [2, 4, 5]]

In [263]:
lst1

[[1, 2, 3, 5], [3, 24, 100, 2], [2, 4, 5]]

In [264]:
# Here in the above example we can see that after copy of lst1 is created which is lst2
# we made changes to lst2 element and it is also refelcted in lst1, this is because in shallow copy the elements of nested list
#are refering to the same memory location, so change to element of list will refelct in another--- this happen in shallow copy

In [266]:
# but when we append to one list it does not append in another list as only the elements are refering

lst1.append([2,34,5])

In [267]:
lst1

[[1, 2, 3, 5], [3, 24, 100, 2], [2, 4, 5], [2, 34, 5]]

In [268]:
lst2

[[1, 2, 3, 5], [3, 24, 100, 2], [2, 4, 5]]

In [269]:
# DEEP Copy 

import copy

lst1=[1,24,5,6]

In [270]:
lst2=copy.deepcopy(lst1)

In [271]:
lst1

[1, 24, 5, 6]

In [272]:
lst2

[1, 24, 5, 6]

In [274]:
lst1=[[1, 2, 3, 5], [3, 24, 100, 2], [2, 4, 5]]

lst2=copy.deepcopy(lst1)

In [275]:
lst1

[[1, 2, 3, 5], [3, 24, 100, 2], [2, 4, 5]]

In [276]:
lst2

[[1, 2, 3, 5], [3, 24, 100, 2], [2, 4, 5]]

In [278]:
lst1[1][3]=1000

In [279]:
lst1

[[1, 2, 3, 5], [3, 24, 100, 1000], [2, 4, 5]]

In [280]:
lst2

[[1, 2, 3, 5], [3, 24, 100, 2], [2, 4, 5]]

In [281]:
# Here in deep copy we can see that there are no changes refelcted in lst 2 because it has created a copy and they are at different 
#memory location

# Class Methods And Class variables

In [289]:
class car():
    
    base_price=10000   #this is call class variable
    
    def __init__(self,wheel,doors,power):
        self.wheel=wheel
        self.doors=doors
        self.power=power
        
    def car_price(self):
        print('this is the base price {}'.format(self.base_price))

In [290]:
ca1=car(2,4,1000)

In [291]:
ca1.car_price()

this is the base price 10000

In [292]:
ca1.base_price   #this is way to access the class variable

10000

In [318]:
class car():
    
    base_price=10000   #this is call class variable
    
    def __init__(self,wheel,doors,power):
        self.wheel=wheel
        self.doors=doors
        self.power=power
        
    def car_price(self):
        print('this is the base price {}'.format(self.base_price))
        
    @classmethod                      #we can use this to initialse the method inside a class and can be directly call with the
                                        #class name
    def new_price(cls,addprice):
        cls.base_price=cls.base_price+cls.base_price*addprice

In [320]:
car.new_price(0.20)   #the difference is we dont need to initailse a instance/object to the class to call/access the function 
                    #we can use @classmethod

In [322]:
car.base_price

14400.0

# Static Method

In [327]:
class car():
    
    base_price=10000   #this is call class variable
    
    def __init__(self,wheel,doors,power):
        self.wheel=wheel
        self.doors=doors
        self.power=power
        
    def car_price(self):
        print('this is the base price {}'.format(self.base_price))
        
    @classmethod                      #we can use this to initialse the method inside a class and can be directly call with the
                                        #class name
    def new_price(cls,addprice):
        cls.base_price=cls.base_price+cls.base_price*addprice
        
    
    @staticmethod 
    
    def check_year():
        if now.year==2023:
            return True
        else:
            return False

In [328]:
import datetime
now=datetime.datetime.now()

In [329]:
now.year

2023

In [330]:
car.check_year()

True

In [331]:
# Static method is the one which is called as soon as we call/initalise the class, the static method is the first to be call, 
#it is faster to call
# Static will be called onces and it will run untill the programme is running and cannot create multiple copies of it

# Eval Function

This will basically execute any Python expression which is wriiten in string format

In [334]:
eval('4*7')

28

In [335]:
eval(input("Enter the python expression "))

Enter the python expression len([1,2,43])

3

In [338]:
eval(input("Enter the python expression "))

Enter the python expression sum([1,2,3])

6

### How does Eval work
1. Parse python Expression
2. compile into a byte code
3. Evaluate the python expression
4. It will return the result


Eval have many security issue- one is it can execute python expression on instant which can slow down other process
so, it is less prefreed

In [339]:

var=compile("5*5","<string>","eval") #here <string> is specifing the filename/format and eval is the function

In [342]:
eval(var)

25

In [344]:
# synatx

#eval('expression','Global','local') # we have to initalise global and local varaible in key:value pair format(dictionary)

In [347]:
expression='x*y'

x=100
y=100

eval(expression,{'x':x,'y':y})

10000

In [348]:
#local variable
eval("a+b+c",{},{"a":100,"b":200,"c":1000})

1300

In [349]:
# one way to  reduce eval secuity issue is to not initailse global and local

x=100
y=100
eval("x+y",{},{})

NameError: name 'x' is not defined